/*=== Project Page Styles ===*/
.project-content {
    padding: 2rem;
}

.project-header {
    padding: 1rem;
}
.project-details {
    padding: 2rem;
}

.project-links {
    padding: 2rem;
}

/*==== Typography ====*/
.project-details h3 {
    margin-top: 2rem;
}

/*==== Project Links Styles ====*/
.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    background-color: var(--color-primary-dark);
    color: var(--color-text-white);
    text-decoration: none;
    border-radius: var(--radius-sm);
    border: 1px solid var(--color-secondary);
    transition: background-color 0.3s ease;
}

