/* ==== Global Styles ==== */
*{
    box-sizing: border-box;
}


body {
    font-family: "Lato", sans-serif;
    max-width: 900 px;
    margin: 0 auto;
    padding: 2rem;
    line-height: 1.6;
    background-color: var(--background);
    color: var(--text);
}

section {
    padding: 4rem 0;
}

/*==== Color ====*/
:root{

--background:#F9FAFB;

--surface:#FFFFFF;

--text:#1F2937;

--secondary:#4B5563;

--accent:#2563EB;

}

/*==== Typography ====*/
h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.3rem;
}

p {
    font-size: 1.05rem;
    max-width: 70ch;
}

/*==== Project Styles ====*/

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
    justify-content: space-evenly;
}

.project-card{
    padding:1.5rem;
    border:1px solid var(--secondary);
    border-radius:10px;
    background: var(--surface);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*==== Header Styles ====*/
.hero{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:3rem 0;
    text-align:center;
}

.hero-subtitle{
    font-size:1.3rem;
    color:var(--secondary);
    margin-bottom:1.5rem;
}

.hero-description{
    font-size:1.1rem;
    max-width: 65ch;
}




/* ==== Navigation Styles ==== */
.navbar {
display:flex;
justify-content:center;
gap:2rem;
padding:3rem 0;

}

nav a{

margin-right:20px;

text-decoration:none;

color: var(--accent);

font-weight:bold;

}

nav a:hover{

text-decoration:underline;

}

/*==== Button Styles ====*/
.button {
    display: inline-block;
    padding: 0.9rem 1.5rem;
    background-color: var(--accent);
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 2rem;
    transition: 0.2s;
}

.button:hover {
    transform: translateY(-2px);
}
